/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* Don't kill focus outline for keyboard users: http://24ways.org/2009/dont-lose-your-focus */
a:hover, a:active {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 74px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FC755A), to(#FD5570));
  background: linear-gradient(to bottom, #FC755A, #FD5570);
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  font-family: DeftoneStylus-Regular,DeftoneStylus-Regular,AdobeInvisFont,MyriadPro-Regular;
  background-color: #fff;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.nav__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.nav__list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.nav__list li a img {
  width: 20px;
  height: 18px;
}

.nav__list li a span {
  padding-top: 10px;
  font-weight: 400;
  color: #fff;
}

.nav__list li:first-child {
  margin-top: 3rem;
}

.nav__list li:last-child {
  margin-top: auto;
  margin-bottom: 0;
}

.main-container {
  width: 100%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid yellow;
}

.main__progress-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  border: 3px solid red;
}

.main__progress--box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 3px solid green;
}

.revenue__progress {
  width: 70%;
}

.revenue__progress .revenue__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.revenue__hour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}

.revenue__hour img {
  width: 124px;
  height: 124px;
}

/* Main-Header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border: 2px solid #F1F1F1;
  border-top: none;
}

.left-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.left-list__item {
  padding: 1em;
  border-right: 2px solid #F1F1F1;
}

.header-form {
  position: relative;
}

.header-form__input {
  width: calc(300px + 6vw);
  padding: 1em;
  background-color: #F8F8F8;
  border: 1px solid #F1F1F1;
  border-radius: 2em;
  outline: none;
}

.header-form__input::-webkit-input-placeholder {
  font-size: 12px;
  text-transform: capitalize;
  color: #C8C8C8;
}

.header-form__input:-ms-input-placeholder {
  font-size: 12px;
  text-transform: capitalize;
  color: #C8C8C8;
}

.header-form__input::-ms-input-placeholder {
  font-size: 12px;
  text-transform: capitalize;
  color: #C8C8C8;
}

.header-form__input::placeholder {
  font-size: 12px;
  text-transform: capitalize;
  color: #C8C8C8;
}

.header-form__btn {
  position: absolute;
  top: 1em;
  right: 1em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.right-content .right-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.right-content .right-list__item {
  padding: 1em;
  border-left: 2px solid #F1F1F1;
}

.right-content .user__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-content .user__account .account__data {
  padding: 1em;
}

.right-content .user__account .account__data h3 {
  margin-bottom: 0.5em;
  font-family: Lato-Bold,AdobeInvisFont,MyriadPro-Regular;
  font-size: 15px;
}

.right-content .user__account .account__data p {
  font-family: Lato-Regular,AdobeInvisFont,MyriadPro-Regular;
  font-size: 13px;
  color: #BFBFBF;
}

.r {
  padding-right: 2em;
  padding-left: 3em;
}

.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}

.statistic__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistic__box .statistic__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main__progress--box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid black;
}

.container-aside {
  width: 20%;
  border: 3px solid blueviolet;
}
/*# sourceMappingURL=style.css.map */